.input label {
  display: block;
  margin-bottom: 0.5rem;
  font-size: 0.75rem;
}

.input input {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 0.25rem 0.75rem;
  width: 100%;
  font-size: 1rem;
}

.input input:focus {
    outline: none;
}

.input input:disabled {
    background: lightgray;
}