.chat-body {
  padding: 2rem;
  display: flex;
  background-color: lightgray;
  height: 95vh;
  gap: 1rem;
}

.friends-list {
  background: #fff;
  border-radius: 8px;
  width: 300px;
}

.friend-list__item {
  display: flex;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transform: 3s linear;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
}

.friend-list__item p {
  font-size: 0.75rem;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
}

.friend-list__item:hover {
  background: #ddd;
}

.friend-list__item:first-child {
  border-radius: 8px 8px 0 0;
}

.friend-list__item:not(:last-child) {
  border-bottom: 1px solid lightgray;
}

.chat-user {
  position: relative;
  background: #eee;
  border-radius: 8px;
  flex-grow: 1;
}
.current-chat__username {
  background-color: gray;
  color: #fff;
  position: sticky;
  top: 0;
  padding: 1rem 2rem;
  border-radius: 8px 8px 0 0;
}

.chat-messages__container {
  position: relative;
  height: 85%;
  overflow-y: auto;
  padding: 1rem 2rem;
}

.chat-message {
  padding: 1rem;
  border-radius: 4px;
  margin-bottom: 0.5rem;
  max-width: 60%;
  position: relative;
  background-color: #fff;
}

.timestamp {
    display: block;
    font-size: 0.5rem;
    text-align: right;
    margin-top: 0.5rem;
    color: #555;
}

.chat-message.my-message {
  margin-left: auto;
}


.chat-input__container {
  padding: 0 2rem;
}

.chat-input {
  background: #fff;
  display: flex;
}

.chat-input .input {
  flex-grow: 1;
}

.chat-input .input input {
  border: none;
}

.search-btn__container {
  position: relative;
  margin-top: 1rem;
}

.search-btn {
  display: block;
  margin-left: auto;
}

.search-result {
  margin-top: 1rem;
  display: flex;
  align-items: flex-start;
  gap: 1rem;
  border: 1px solid lightgray;
  border-radius: 4px;
  padding: 1rem 1.75rem;
}

.user-address {
  margin-top: 1rem;
}

.search-result .friend-address {
  font-size: 0.75rem;
}
